@font-face {
    font-family: Gilroy;
    src: url(../src/assets/fonts/Gilroy-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Gilroy;
    src: url(../src/assets/fonts/Gilroy-Semibold.woff) format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Gilroy;
    src: url(../src/assets/fonts/Gilroy-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Gilroy;
    src: url(../src/assets/fonts/Gilroy-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}