# POS Bridge
API_BASE=http://localhost:3000
MERCHANT_ID=M-1
OUTLET_ID=
DEVICE_ID=
STAFF_KEY=
BRIDGE_SECRET=
BRIDGE_PORT=18080
FLUSH_INTERVAL_MS=5000
BRIDGE_QUEUE_BACKEND=json # json | sqlite
BRIDGE_DB_PATH=./data/bridge.db # used when BRIDGE_QUEUE_BACKEND=sqlite
