@media (max-width: 1499px) and (min-width: 800px) {
    .t830__burger {
        display: none !important; /* Скрываем кнопку бургера */
    }
    .t830m {
        left: 0 !important;
        transform: translate(0) !important;
    }
    .t830__menu__content {
        display: none !important;
    }
    
    .t830__panel {
        display: none !important;
    }
    
    #allrecords {
        padding-left: 255px !important;
    }
}

@media screen and (max-width: 1199px) and (min-width: 800px) {
    .t830m {
         width: 255px; 
    }
    
    .t830m__top.t830m__top_padd {
        padding-top: 20px !important;
    }
    
    .t830m__close {
        display: none !important; 
    }
}

@media screen and (max-width: 640px) {
    .t830m__top.t830m__top_addwrap {
        padding-top: 45px;
    }
}